		div.domtab{
			width:80%;
			font-size:90%;
		}
		ul.domtabs{
			float:left;
			width:100%;
			list-style:none;
			margin:0;
			padding:0;
			text-align:center;				
		}
		ul.domtabs li{
			float:left;
			padding:0 .5em 0 0;
		}
		ul.domtabs a:link,
		ul.domtabs a:visited,
		ul.domtabs a:active,
		ul.domtabs a:hover{
			padding:10px 28px;
			display:block;
			border:1px solid #666;
			color:#ccc;
			border-bottom:none;
			font-weight:bold;
			text-decoration:none;
			
		}
		html>body ul.domtabs a:link,
		html>body ul.domtabs a:visited,
		html>body ul.domtabs a:active,
		html>body ul.domtabs a:hover{
			height:auto;
			
		}
		ul.domtabs a:hover{
			background:#fff;
		}
		div.domtab .dom1{
			clear:both;
			width:auto;
			background:#fff;
			border:1px solid #008ed9;
			color:red;
			padding:.5em 1em .5em;
			overflow:hidden;
		}
		ul.domtabs li.active a:link,
		ul.domtabs li.active a:visited,
		ul.domtabs li.active a:active,
		ul.domtabs li.active a:hover{
			border:1px solid #004970;
			color:#fff;
			border-bottom:none;
			background:#008ed9;
			
		}
		#domtabprintview{
			float:right;
			padding-right:1em;
			text-align:right;
		}
		#domtabprintview a:link,
		#domtabprintview a:visited,
		#domtabprintview a:active,
		#domtabprintview a:hover{
			color:red;
		}
		p{
			margin:0 0 .5em 0;
			line-height:1.3em;
		}
		h2{
			font-size:1.3em;
			color:#000;
			text-transform:uppercase;
			font-family:"Trebuchet MS",Arial,Sans-Serif;
			padding:0 0 0 0;
		}
		h1{
			font-size:2em;
			text-align:center;
			font-weight:normal;
			text-transform:uppercase;
			font-family:"Trebuchet MS",Arial,Sans-Serif;
			padding:.5em 0;
			background:#000;
			border-bottom:1px solid #666;
		}
		pre{
			font-size:1.2em;
			padding:1em;
		}
		div.domtab div a:link,
		div.domtab div a:visited,
		div.domtab div a:active
		{
			color:#fff;
			display:block;
			padding:1em .5em;
			font-weight:bold;
			font-size:1.3em;
		}
		div.domtab div h2 a,
		div.domtab div h2 a:hover,
		div.domtab div h2 a:active
		{
			color:#cfc;
			display:inline;
			padding:0;
			font-weight:normal;
			font-size:1em;
		}
		
/* other scheme! */
#other{
	font-size:.8em;
	margin-left:.3em;
	width:60em;
	margin-bottom:3em;
	float:left;
}
div#other.domtab div{
	clear:both;
	width:54em;
	background:#669;
	color:#fff;
	padding:1em 3em;
}
		
#other ul.domtabs a:hover{
	background:#669;
}
div#other ul.domtabs li.active a:link,
div#other ul.domtabs li.active a:visited,
div#other ul.domtabs li.active a:active,
div#other ul.domtabs li.active a:hover{
	background:#669;
	color:#fff;
}
#other div{
	float:left;
}
ul.prevnext{
	float:left;
	width:100%;
}
ul.prevnext li{
	float:left;
	width:49%;
}
ul.prevnext li.next{
	float:right;
	text-align:right;
}

.news{font:normal 15px Arial, Helvetica, sans-serif; color:#008ed9; text-transform:capitalize; background:#f5f5f5; padding:3px 7px 3px; width:600px;}
.newsd{font:normal 13px Arial, Helvetica, sans-serif; color:#999; text-indent:50px; padding:30px 10px 0 10px;}
.newsevt{font:normal 13px Arial, Helvetica, sans-serif; color:#999;width:85%; margin-left:35px; float:left;}
.detaiil a{ background:#FF0; color:#000 !important; font:normal 10px Arial, Helvetica, sans-serif  !important; text-transform:capitalize !important; padding:3px 6px !important; float:right !important; border-radius:3px; box-shadow:1px 1px 0 #666 !important;}
.detaiil a:hover{ background:#FF0; color:#999 !important; font:normal 10px Arial, Helvetica, sans-serif  !important; text-transform:capitalize !important; padding:3px 6px !important; float:right !important; border-radius:3px; box-shadow:1px 1px 0 #666 !important;}
.dom1{ border:none;}
.maindiv{overflow:hidden; height:87px; margin-right:10px;}
.newevent{font:normal 15px Arial, Helvetica, sans-serif; color:#008ed9; text-transform:capitalize;padding:3px 7px 3px; width:600px; float:left; width:47%;}
.newdate{font:normal 15px Arial, Helvetica, sans-serif; color:#008ed9; text-transform:capitalize;padding:3px 7px 3px; width:600px; float:right; width:47%; text-align:right;}

